*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppin",sans-serif;
}

.container{
    height: auto;
    /* padding-top: 2vh; */
}


.image-contents{
    overflow: auto;
}

.desc .date{
    font-size: 10px;
}

.date-next{
    margin-top: -10px;
    margin-bottom: 10px;
}
.imgWrap{
    width: min-content;
    height: min-content;
    display: flex;
    gap:10px;
    margin-bottom: 35px;
    overflow: hidden;
}

.more{
    width: 24px;
    height: 24px;
}

.image{
    width: 170px;
    height: 150px;
    /* border: #000 1px solid; */
}
.image img{
    width: 100%;
}
.footer{
    width: 100%;
}
.footer-nav{
    background-color: white;
    padding: 10px 0 25px 0;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* margin-bottom: 25px; */
    border-top: 1px solid black;
}

.bm1{
    color: white;
}

#dialog{
    position: fixed;
    z-index: 100;
    bottom: 70px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}

.bookmark-noti{
    display: none;
}
.more{
    font-size: 12px;
}

#bookmark-count{
    position: relative;
}
#bookmark-count-no{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: orange;
    /* display: none; */
}
