.content-container{
    width: 100%;
    height: auto;
}

.map{
    width: 100%;
    height: 400px;
    position: relative;
    padding-top: 10%;
    background: url(../img/map.png);
    background-size: contain;
    background-position: right center;
}

.map input{
    width: 90%;
    height: 40px;
    text-align: center;
    display: block;
    margin:  0 auto;
    background-color: #e1e1e1;
    border: #e1e1e1 solid 1px;
    font-size: 1.4rem;
    position: relative;
}

.pin1{
    position: absolute;
    top: 230px;
    left: 170px;
}

.pin2{
    position: absolute;
    top: 100px;
    left: 200px;
}

.pin3{
    position: absolute;
    top: 190px;
    left: 70px;
}

.search{
    position: absolute;
    top: 45px;
    left: 320px;
    z-index: 1;
}

.map-information{
    width: 100%;
    height: 110px;
    border: 1px solid #AFAFAF;
    background: #FFF;
}

.map-information img{
    width: 100px;
    height: 70px;
    margin-left: 14%;
}

.container{
    padding-top: 5%;
}

.map-information p{
    font-size: 1.2em;
}

.map-information h2{
    position: relative;
}


.number{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: rgba(0, 0, 0) 1px solid;
    border-radius: 100px;
}


